*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-image: url(../Project10/img7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}