<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/style.css">
    <title>Open Source</title>
</head>
<body>
    <h1>Hello Everyone</h1>
    <h4>Here is a Git code for beginners</h4>
     <div class="container">
        <table>
            <thead>
                <th>Code</th>
                <th>Uses</th>
            </thead>
            <tbody>
                <tr>
                    <td>git --version</td>
                    <td>It is used for check version of git.</td>
                </tr>
                <tr>
                    <td>git status</td>
                    <td>It is use for check status of your repo.Like it is untracked, modified or traked. </td>
                </tr>
                <tr>
                    <td>git init</td>
                    <td>It is used for initialize git repo</td>
                </tr>
                <tr>
                    <td>git add <file2> <file2></td>
                    <td>It is used for add file in staging area</td>
                </tr>
                <tr>
                    <td>git commit -m "commit message"</td>
                    <td>It is used committing the changes to the repository.The -m flag is used to add a message to the commit.  </td>
                </tr>
                <tr>
                    <td>git log</td>
                    <td>It will show you the history of your repo.</td>
                </tr>
                <tr>
                    <td>git log --oneline</td>
                    <td>It will show only the commit message.</td>
                </tr>
                <tr>
                    <td>git branch</td>
                    <td> This command lists all the branches in the current repository.</td>
                </tr>
                <tr>
                    <td>git branch bug-fix</td>
                    <td>This command creates a new branch called bug-fix.</td>
                </tr>
                <tr>
                    <td>git switch bug-fix</td>
                    <td>Used for switch to the bug-fix branch</td>
                </tr>
                <tr>
                    <td>git switch -c dark-mode</td>
                    <td> This command creates a new branch called dark-mode. the -c flag is used to create a new branch.</td>
                </tr>
                <tr>
                    <td>git checkout bug-fix</td>
                    <td>Used for switch to the bug-fix branch</td>
                </tr>
                <tr>
                    <td>git merge bug-fix</td>
                    <td>This command merges the bug-fix branch into the main branch.</td>
                </tr>
                <tr>
                    <td>git branch -d bug-fix</td>
                    <td>This command deletes the bug-fix branch.</td>
                </tr>
                <tr>
                    <td>git branch -m <old-branch-name> <new-branch-name></new-branch-name></td>
                    <td>This command renames the old-branch-name to new-branch-name.</td>
                </tr>
                <tr>
                    <td>git remote add origin <remote-repository-URL></td>
                    <td>This command adds a remote repository to your local repository.</td>
                </tr>
                <tr>
                    <td>git push -u origin main</td>
                    <td>This command pushes the changes to the remote repository.</td>
                </tr>
                <tr>
                    <td>git pull origin main</td>
                    <td>This command pulls the changes from the remote repository.</td>
                </tr>
                <tr>
                    <td>git clone <remote-repository-URL></td>
                    <td>This command clones the remote repository to your local machine.</td>
                </tr>
                <tr>
                    <td>git diff</td>
                    <td>This command shows the difference between the working directory and the staging area.</td>
                </tr>
                <tr>
                    <td>git diff --staged</td>
                    <td>This command shows the difference between the staging area and the repository.</td>
                </tr>
                <tr>
                    <td>git diff <commit1> <commit2></td>
                    <td>This command shows the difference between two commits.</td>
                </tr>
                <tr>
                    <td>git reset <file></td>
                    <td>This command unstages the file from the staging area.</td>
                </tr>
                <tr>
                    <td>git reset --soft <commit></td>
                    <td>This command resets the HEAD to the specified commit and keeps the changes in the staging area.</td>
                </tr>   
                <tr>
                    <td>git reset --hard <commit></td>
                    <td>This command resets the HEAD to the specified commit and discards the changes in the working directory.</td>
                </tr>
                <tr>
                    <td>git checkout -- <file></td>
                    <td>This command discards the changes in the working directory and reverts the file to the last commit.</td>
                </tr>
                <tr>
                    <td>git stash</td>
                    <td>This command saves the changes in the working directory and reverts the file to the last commit.</td>
                </tr>
                <tr>
                    <td>git stash pop</td>
                    <td>This command applies the changes saved in the stash to the working directory.</td>
                </tr>
                <tr>
                    <td>git stash list</td>
                    <td>This command lists all the stashes.</td>
                </tr>
                <tr>
                    <td>git stash drop</td>
                    <td>This command deletes the last stash.</td>
                </tr>
                <tr>
                    <td>git stash clear</td>
                    <td>This command deletes all the stashes.</td>
                </tr>
                <tr>
                    <td>git tag <tag-name></td>
                    <td>This command creates a tag with the specified tag-name.</td>

                </tr>   
                <tr>
                    <td>git tag -a <tag-name> -m "tag message"</td>
                    <td>This command creates an annotated tag with the specified tag-name and tag message.</td>
                </tr>
                <tr>
                    <td>git tag</td>
                    <td>This command lists all the tags.</td>
                </tr>
                <tr>
                    <td>git show <tag-name></td>
                    <td>This command shows the details of the specified tag.</td>
                </tr>
                <tr>
                    <td>git push origin <tag-name></td>
                    <td>This command pushes the specified tag to the remote repository.</td>
                </tr>

    
            </tbody>
        </table>
     </div>
</body>
</html>